.input_container {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #fff;
  padding: 16px;
  box-sizing: border-box;
  margin-bottom: -12px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;

  .field {
    font-size: 18px;

    width: 90%;
    outline: none;
    appearance: none;
    border: none;
  }
}
